@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

/* To remove default autocomplete styling */
/* https://stackoverflow.com/a/14205976 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}

/* https://codepen.io/devstreak/pen/dMYgeO */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* background-color: rgb(149, 185, 149); */
    background-color: #c3c3c3;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #00c800;
    /* border-radius: 20px; */
    /* border: 3px solid transparent; */
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #008000;
}

::-webkit-scrollbar-thumb:active {
    background-color: #004300;
}

/* Firefox */
/* https://stackoverflow.com/a/59747324 */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #00c800 #c3c3c3;
    }
}

/* Media query based on MUI breakpoints */

/* xs */
:root {
    --font-size-unit: 1.25rem;
    --spacing-unit: 12px;
}

/* sm */
@media (min-width: 600px) {
    :root {
        --font-size-unit: 1.25rem;
        --spacing-unit: 12px;
    }
}

/* md */
@media (min-width: 900px) {
    :root {
        --font-size-unit: 1.25rem;
        --spacing-unit: 16px;
    }
}

/* lg */
@media (min-width: 1200px) {
    :root {
        --font-size-unit: 1.25rem;
        --spacing-unit: 20px;
    }
}

/* xl */
@media (min-width: 1536px) {
    :root {
        --font-size-unit: 1.375rem;
        --spacing-unit: 24px;
    }
}
